<ng-container>
  <div [class]="rootClass">
    <xui-accordion-summary
      [expanded]="isOpen"
      [expandIcon]="expandIcon"
      [disabled]="disabled"
      [slots]="slots"
      [id]="id"
      [classes]="classes"
      (toggle)="handleExpansion($event)"
    >
      Accordion {{ index }}
    </xui-accordion-summary>
    <xui-accordion-details
      [expanded]="isOpen"
      [role]="role"
      [classes]="classes"
      [id]="id"
    >
      this is content of accordion {{ index }}
    </xui-accordion-details>
  </div>
</ng-container>
