<ng-container [class]="classes?.root">
  <div>
    <xui-accordion-summary
      [expanded]="isOpen"
      [expandIcon]="expandIcon"
      [disabled]="disabled"
      [slots]="slots"
      [id]="id"
      (toggle)="handleExpansion($event)"
    >
      Accordion {{ index }}
    </xui-accordion-summary>
    <xui-accordion-details
      [expanded]="isOpen"
      [role]="role"
      [id]="id"
      [classes]="classes"
    >
      this is content of accordion {{ index }}
    </xui-accordion-details>
  </div>
</ng-container>
