<div
  *ngIf="isVisible"
  [ngClass]="containerClass"
  [@slideFromBottom]="
    animationTrigger === 'slideFromBottom' && (open ? 'in' : 'void')
  "
  [@slideFromTop]="
    animationTrigger === 'slideFromTop' && (open ? 'in' : 'void')
  "
  (@slideFromBottom.done)="onAnimationDone($event)"
  (@slideFromTop.done)="onAnimationDone($event)"
  role="alert"
  aria-live="assertive"
  class="min-w-[356px] max-w-md"
>
  <!-- Content area -->
  <app-snackbar-content
    class="m-auto flex w-full"
    [message]="message"
    [action]="action"
  >
    <ng-content></ng-content>
  </app-snackbar-content>
</div>
